# Ignore configuration files that may contain sensitive information.

.DS_Store
.project
.sass-cache
settings.php
settings.json
*.local.make
builds
lib/files
temp

*.conf
!default.project.conf
!default.migrations.conf
!default.build.conf
.out

lib/modules/*
lib/themes/*
lib/profiles/*
lib/scripts/*

!lib/modules/README
!lib/themes/README
!lib/profiles/README
!lib/scripts/README

# Ignore Eclipse conf files
.buildpath
.settings/*

*.sql
