# Ignore configuration files that may contain sensitive information.

\#*
*~
.DS_Store
.project
.sass-cache
settings.php
settings.json
*.local.make

*.conf
!default.project.conf
!default.migrations.conf
!default.build.conf

*.out
*.log

lib/modules/*
lib/themes/*
lib/profiles/*
lib/scripts/*
lib/files/*

!lib/modules/README
!lib/themes/README
!lib/profiles/README
!lib/scripts/README

# Ignore Eclipse conf files
.buildpath
.settings/*

# Ignore Intellij stuff
.idea/

*.sql
!bin/fix-bad-html-in-tne-node-135.sql

# Commit empty build/ and temp/ so new clones will work out of the box.
builds/*
!builds/.commit-empty-dir

temp/*
!temp/.commit-empty-dir

temp/.commit-empty-dir

bin/fix-bad-html-in-tne-node-135.sql
